.container{
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius:1.5em;
    box-shadow: 10% 10% 10%;
    background-color:coral;
    color: aliceblue;
}

.fundo{
    background-color: brown;
}